*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0d8e8;
    font-family: 'Arial', sans-serif;
    opacity: 0; /* Initial opacity set to 0 */
    animation: fadeIn 2s forwards; /* Added fadeIn animation */
}

span {
    position: absolute;
    pointer-events: none;
    filter: drop-shadow(0 0 15px rgb(148, 31, 31));
    animation: fadeInOut 1s linear infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(images/hearts.png);
    background-size: cover;
    animation: moveShape 1s linear infinite;
}

@keyframes letterAnimation {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(-4.5rem);
        opacity: 1;
    }
}

@keyframes heart {
    100% {
        transform: translate(-50%, -30%) scaleX(0);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0; /* Initial opacity set to 0 */
    animation: fadeIn 3s forwards; /* Added fadeIn animation */
    margin-top: 20vh; /* Adjusted margin for better positioning */
}

.letter {
    background: rgb(255, 191, 226);
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
    color: #bd0707;
    font-family: 'Arial', sans-serif;
    text-align: center;
    border-radius: 15px; /* Adjust the radius value as needed */
    animation: letterAnimation 1s forwards 1s; /* Added animation to the letter */
}

.center-container {
    display: flex;
    justify-content: center;
}

#gif1,
#gif2 {
    margin-top: 2rem; /* Adjusted margin to create space between letter and GIFs */
}

/* Styling for the Play Audio button */
button#playButton {
    background-color: #bd0707;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#playButton:hover {
    background-color: #930303;
}
