*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffeeee;
}
.wrapper{
    position: relative;
    width: 25rem;
    height: 12rem;
    margin-top: 1rem;
}
.env{
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    box-shadow: 10px 35px 25px #c7935378;
}
.env::before{
    content: '';
    position: absolute;
    inset: 0;
    z-index: 2;
    background: linear-gradient(-120deg,
    #fda6c9,
    #da6881);
    clip-path: polygon(0% 0%,50% 70%,100% 0%);
    transform-origin: top;
    animation: openenv 2s linear forwards 2s;

}
.env::after{
    content: '';
    position: absolute;
    inset: 0;
    background: #960000;
    border-radius: 1rem;
}
.front{
    position: absolute;
    inset: 0;
    border-right: 12.5rem solid #f9bbf9;
    border-top: 7rem solid transparent;
    border-bottom: 7rem solid transparent;
    border-radius: 0 1rem 1rem 0;
}
.front::before{
    content: '';
    position: absolute;
    border-left: 12.5rem solid #fda6c9;
    border-bottom: 7rem solid transparent;
    border-top: 7rem solid transparent;
    top: -7rem;
}
.front::after{
    content: '';
    position: absolute;
    border-bottom: 7rem solid #e990a3;
    border-right: 12.5rem solid transparent;
    border-left: 12.5rem solid transparent;
    border-radius: 0 0 1rem 1rem;
}
img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6rem;
    z-index: 5;
    transform-origin: top;
    transform: translate(-50%,-20%);
    animation: heart 1s forwards 1s;
}
.letter{
    background: #eff;
    height: 95%;
    width: 90%;
    margin: .5rem auto;
    font-size: 1.5rem;
    color: #bd0707;
    font-family: 'pacifico';
    text-align: center;
    padding-top: 2rem;
    animation: lettre 1s forwards 4s;
}

.moving-button {
    position: absolute;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-color: #e990a3;
    color: #fff;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: 2px solid #960000
}

.moving-button:hover{
    background-color: #e990a3cb;
    transform: scale(1.05);
}

.Ybutton {
    position: absolute;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-color: #e990a3;
    color: #fff;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: 2px solid #960000
}

.Ybutton:hover{
    background-color: #e990a3cb;
    transform: scale(1.05);
}

span{
    position: absolute;
    pointer-events: none;
    filter: drop-shadow(0 0 15px rgb(148, 31, 31));
    animation: fadeInOut 1s linear infinite;
}

@keyframes fadeInOut{
    0%,100%{
        opacity: 0;
    }
    20%,80%{
        opacity: 1;
    }
}

span::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(images/hearts.png);
    background-size: cover;
    animation: moveShape 1s linear infinite;
}


@keyframes moveShape{
    0%{
        transform: translate(0) rotate(0deg);
    }
    100%{
        transform: translate(300px) rotate(360deg);
    }
    
}



@keyframes openenv {
    100%{
        transform: rotateX(180deg) translateY(-.3rem);
        z-index: -1;
        background: linear-gradient(45deg,#da6881,#f9bbf9);
    }
}
@keyframes lettre {
    100%{transform: translateY(-4.5rem);}
}
@keyframes heart {
    100%{transform: translate(-50%,-30%) scaleX(0);}
}

button#playButton {
    position: absolute;
    top: 10rem; /* Adjust the top value as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: #bd0707;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button#playButton:hover {
    background-color: #930303;
  }